@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
/* happy new year start */
.bg-image{
    height: 600px;
background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(".//images/Banner.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
margin: 50px 140px;
}
.bg-contaainer{
    text-align: center;
}
.heder{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 24px;
font-weight: 300;
}
.hader{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 60px;
font-weight: 700;
margin-top: 20px;
}
/* happy new year end */

/* 65% of start */
.top-item{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 80px;
font-weight: 800;
}
.item{
    text-align: center;
    margin: 50px 140px;
}
.holyday{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.catagory{color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}
/* 65% of end */

/* Welcome to midnight party start */
.welcome{
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(images/Vectorrr.png);
height: 600px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
margin: 50px 140px;
}
.l-part{
    padding-top: 100px;
    margin-left: 120px;
}
.midnight{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
}
.mdpara{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
width: 697px;
height: 60px;
}
.btn{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
}
.r-part{
    width: 319.83px;
height: 464.66px;
margin-top: 40px;
margin-left: 20px;
}
/* Welcome to midnight party end */

/* design no 4 start */
.event{
    border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
height: 600px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px 140px;
}
.event-li{
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;

}
span{
   color: rgb(255, 0, 0);
}
button{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
width: 150px;
padding: 10px 22px;
border-radius: 8px;
background: rgb(255, 0, 0);
margin-top: 30px;
}
/* design no 4 end */


.offer{
    height: 600px;
display: flex;
gap: 80px;
align-items: center;
justify-content: center;
margin: 50px 140px;
}
.l-div{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin-top: 120px;
}
.l-para{
    text-align: justify;
  
    height: 255px;
}
.m-div{
    padding: 20px;
    border: 10px solid red;
   border-radius: 50%;

}
.year{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.r-div{
  
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    -ms-flex-align: end;
}
.function{
padding-top: 100px;
    margin: 50px 140px;
    height: 600px;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 320px;
}    
.func-text{
    text-align: center;
}
.funcbott{
    height: 200px;
    background-color: red;
    margin-top: 400px;
  position: relative;
}
.func-l{
    position: absolute;
    margin-top: -500px;
    height: 500px;
}
.func-r{
    position: absolute;
    margin-top: -500px;
    margin-left: 750px;
}
.func-l>img{
    height: 100%;
}
.portfolio{
    height: 650px;
    margin: 50px 140px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    padding-top: 100px;
}
.Sale{
    font-family: Merriweather;
font-size: 60px;
font-weight: 800;
}
.port-gift{  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
height: 42px;
}
.giftbox{
   height: 250px;
}
.giftbox>img{
   height: 100%;
    width: 100%;
   
}
.subscribe{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
height: 600px;
margin: 50px 140px;
padding-top: 60px;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}
.sub-bttn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
input{
    border-radius: 50px 0px 0px 50px;
    border: none;
background: rgb(255, 255, 255);
height: 30px;
width: 300px;
color: rgba(7, 2, 17, 0.3);
font-family: Inter;
font-size: 18px;
font-weight: 400
}
.bttn{
    border-radius: 0px 50px 50px 0px;
    border: none;
    height: 30px;
width: 150px;
margin-bottom: 30px;
padding: 5px;
}
footer{
    height: 600px;
   margin: 50px 140px;
    background-color: black;
}
.top-t{
    color: azure;
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}
.icon{
    text-align: center;
    margin-top: 150px;
}
a{
    margin: 10px;
}
.icon>img{
    margin: 10px;
}
.top-bt{
    color: azure;
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
}

/* for mobile */
@media only screen and (max-width: 600px){
    .bg-image{
        height: 300px;
        background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(".//images/Banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    .bg-contaainer{
        text-align: center;
    }
    .heder{
        color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 100;
    }
    .hader{
        color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    }
    /* happy new year end */
    
    /* 65% of start */
    .top-item{
        color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    }
    .item{
        text-align: center;
        margin: 5px 10px;
    }
    .holyday{
        color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    }
    .catagory{color: rgb(7, 2, 17);
        font-family: Inter;
        font-size: 30px;
        font-weight: 400;
    
    }
    .image> img{
        height: 300px;
        width: 400px;
    }
    /* 65% of end */
    
    /* Welcome to midnight party start */
    .welcome{
        border-radius: 10px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    align-items: flex-start;
    }
    .l-part{
        padding-top: 100px;
        margin-left: 100px;
    }
    .midnight{
        color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size:20px;
    font-weight: 300;
    }
    .mdpara{
        color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 10px;
    font-weight: 300;
    }
    .btn{
        color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    }
    .r-part{
        width: 319.83px;
    height: 464.66px;
    margin-top: 40px;
    margin-left: 20px;
    }
    .r-part>img{
        height: 250px;
        text-align: center
    };
    /* Welcome to midnight party end */
    
    /* design no 4 start */
    .event{
        border: 2px solid red;
        border-radius: 10px;
    background: linear-gradient(180.00deg, rgba(52, 21, 130, 0.347),rgba(255, 0, 0, 0) 100%);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
    }
    .event-li{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    
    }
    span{
       color: rgb(255, 0, 0);
    }
    button{
        color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100px;
    padding: 10px 22px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    margin-top: 10px;
    }
    /* design no 4 end */
    
    
    .offer{
    display: flex;
    height: 1000px;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 10px;
    }
    .l-div{
      display: flex;
      flex-direction: column; 
      justify-content: center;
      margin-top: 10px;
    }
    .l-para{
        text-align: justify;
    }
    .m-div{
        border: 5px solid rgb(31, 5, 202);
       border-radius: 50%;
    }
    .m-div>img{
        height: 250px;
    }
    .year{
        color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    }
    .r-div{
        display: flex;
        flex-direction: column;
        -ms-flex-align: end;
    }
    .function{
    padding-top: 100px;
        margin: 50px 140px;
        position: relative;
        padding-bottom: 50px;
        margin-bottom: 320px;
    }    
    .func-text{
        text-align: center;
    }
    .funcbott{
        background-color: red;
        margin-top: 200px;
      position: relative;
    }
    .func-l{
        position: absolute;
        margin-top: -350px;
        margin-left: -50px;
    }

    .func-r{
        position: absolute;
        margin-top: -300px;
        margin-left: 100px;
    }
    .func-r>img{
        height: 100px;
    }
    .func-l>img{
        height: 300px;
    }
    .portfolio{
        margin-top: 100px;
        margin: 0px;
        padding-top: 60px;
        display: flex;
        height: 1600px;
        flex-direction: column;
    }
    .Sale{
        font-family: Merriweather;
    font-size: 30px;
    font-weight: 500;
    }
    .port-gift{  
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    };
    }
    .giftbox>img{
       height: 250px;
       
    }
    .subscribe{
        border-radius: 10px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    }
    .top-sub>img{
        height: 100px;
    }
    .sub-bttn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    input{
        border-radius: 50px 0px 0px 50px;
        border: none;
    background: rgb(255, 255, 255);
    height: 20px;
    width: 200px;
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 12px;
    font-weight: 300
    }
    .bttn{
        border-radius: 0px 10px 10px 0px;
        border: none;
        height: 20px;
    width: 100px;
    margin-bottom: 10px;
    padding: 5px;
    }
    footer{
        background-color: rgb(223, 13, 13);
        width: 600px;
        margin: 0;
        margin-top: 40px;
    }
    .top-t{
        color: azure;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        align-items: center;
    }
    .icon{
        text-align: center;
        margin-top: 100px;
    }
    a{
        margin: 5px;
    }
    .icon>img{
        margin: 5px;
        width: 50px;
    }
    .top-bt{
        color: azure;
        display: flex;
        margin-top: 50px;
        justify-content: space-around;
    }
}